@mixin fill() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin scroll() {
  overflow: auto;
  overflow-scrolling: touch;

  & > .inner {
	position: relative;
	transform: translateZ(0);
	overflow: hidden;
  }
}


@mixin card1() {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin card2() {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@mixin card3() {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin card4() {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@mixin card5() {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@mixin card6() {
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@keyframes slide-in-top {
  0% {
	transform: translateY(-1000px);
	opacity: 0;
  }
  100% {
	transform: translateY(0);
	opacity: 1;
  }
}


@mixin slide-in-top-animation() {
  animation-name: slide-in-top;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation-fill-mode: both;
}


/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@keyframes slide-in-fwd-center {
  0% {
	transform: translateZ(-1400px);
	opacity: 0;
  }
  100% {
	transform: translateZ(0);
	opacity: 1;
  }
}

@mixin slide-in-fwd-center-animation {
  animation-name: slide-in-fwd-center;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation-fill-mode: both;
}


/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@keyframes swing-in-top-fwd {
  0% {
	transform: rotateX(-100deg);
	transform-origin: top;
	opacity: 0;
  }
  100% {
	transform: rotateX(0deg);
	transform-origin: top;
	opacity: 1;
  }
}

@mixin swing-in-top-fwd-animation() {
  animation-name: swing-in-top-fwd;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  animation-fill-mode: both;
}


/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@keyframes fade-in-fwd {
  0% {
	transform: translateZ(-80px);
	opacity: 0;
  }
  100% {
	transform: translateZ(0);
	opacity: 1;
  }
}

@mixin fade-in-fwd-animation() {
  animation-name: fade-in-fwd;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  animation-fill-mode: both;
}


/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@keyframes puff-in-center {
  0% {
	transform: scale(2);
	filter: blur(2px);
	opacity: 0;
  }
  100% {
	transform: scale(1);
	filter: blur(0px);
	opacity: 1;
  }
}

@mixin puff-in-center-animation {
  animation-name: puff-in-center;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
  animation-fill-mode: both;
}
