
$red: #F00;
$blue: #00F;
$white: #FFF;
$gray: #999;
$black: #000;


$footer-height: 50px;
$header-height: 40px + 40px;
$active-spot-color: #6c5ce7;


$border-radius: 3px;

$main-color: #673AB7;
$acent-color: red;



$dark-primary-color: #7B1FA2;
$primary-color: #9C27B0;
$accent-color: #7C4DFF;
$page-background: white;
$light-primary-color: #E1BEE7;
$light-text-icons-color: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$kanban-background: #2b6ba2;
$loading-color: #bdbdbd;


////green and blue
//$dark-primary-color: #388E3C;
//$primary-color: #4CAF50;
//$accent-color: #03A9F4;
//$page-background: white;
//$light-primary-color: #C8E6C9;
//$light-text-icons-color: #FFFFFF;
//$primary-text-color: #212121;
//$secondary-text-color: #757575;
//$divider-color: #bdbdbd;


////green and red
//$dark-primary-color: #388E3C;
//$primary-color: #4CAF50;
//$accent-color: #FF5252;
//$page-background: white;
//$light-primary-color: #C8E6C9;
//$light-text-icons-color: #FFFFFF;
//$primary-text-color: #212121;
//$secondary-text-color: #757575;
//$divider-color: #bdbdbd;
//
//
////indigo and cyan
//$dark-primary-color: #303F9F;
//$primary-color: #3F51B5;
//$accent-color: #00BCD4;
//$page-background: white;
//$light-primary-color: #C5CAE9;
//$light-text-icons-color: #FFFFFF;
//$primary-text-color: #212121;
//$secondary-text-color: #757575;
//$divider-color: #bdbdbd;
//
////indigo and cyan
//$dark-primary-color: #512DA8;
//$primary-color: #673AB7;
//$accent-color: #00BCD4;
//$page-background: white;
//$light-primary-color: #D1C4E9;
//$light-text-icons-color: #FFFFFF;
//$primary-text-color: #212121;
//$secondary-text-color: #757575;
//$divider-color: #bdbdbd;



//
////2763
//$dark-primary-color: #222831;
//$primary-color: #393E46;
//$accent-color: #00ADB5;
//$page-background: #EEEEEE;
//$light-primary-color: #E1BEE7;
//$light-text-icons-color: #FFFFFF;
//$primary-text-color: #212121;
//$secondary-text-color: #757575;
//$divider-color: #bdbdbd;
//
//
////15830
//$dark-primary-color: #364F6B;
//$primary-color: #3FC1C9;
//$accent-color: #FC5185;
//$page-background: #F5F5F5;
//$light-primary-color: #E1BEE7;
//$light-text-icons-color: #FFFFFF;
//$primary-text-color: #212121;
//$secondary-text-color: #757575;
//$divider-color: #bdbdbd;
//
//
////66990
//$dark-primary-color: #07689F;
//$primary-color: #A2D5F2;
//$accent-color: #FF7E67;
//$page-background: #FAFAFA;
//$light-primary-color: #E1BEE7;
//$light-text-icons-color: #FFFFFF;
//$primary-text-color: #212121;
//$secondary-text-color: #757575;
//$divider-color: #bdbdbd;

////108068
//$dark-primary-color: #0E9577;
//$primary-color: #04DEAD;
//$accent-color: #FBFAE1;
//$page-background: #FFFFFF;
//$light-primary-color: #F1EFB9;
//$light-text-icons-color: #FFFFFF;
//$primary-text-color: #212121;
//$secondary-text-color: #757575;
//$divider-color: #bdbdbd;

