@import '~style/helpers';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  min-height: 60px;
  border-bottom: 1px solid black;
}

.backButton {
  height: 20px;
  width: 20px;
  * {
    fill: black;
  }
}

.title {
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.viewButton {
  background: none;
  color: black;
  border: none;
}
