.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


@media (min-width: 525px) {
 .content {
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
   max-width: 100%;
 }
}
